.textstyles{
color:  #cd7700;;
font-weight: bold;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
text-align: initial;
}
.boxstyles{
   
    
}
.maindiv{
    background-color: blanchedalmond;
    padding-left: 5%;
    max-width: 80%;
}