.mainHeadingStyle{
    text-align: center; 
}

.inputFields{
    // display: flex;
    // justify-content: space-around;
    width: 300px;
    height: 40px;
    padding-left: 15px;
    border-radius: 10px;
    border: 2px solid brown;
    font-size: 18px;
    margin-left: 9%;
    margin-bottom: 2%;
    

}
.addressinput{
    width: 695px;
    // margin-left: 8%;
}
.btnADD{
    width: 620px;
    margin-left: 28px;
    height: 40px;
    border: 2px solid brown;
    font-weight: 600;
    font-size: 20px;
    background-color: white;
    border-radius: 10px;
}
.btnADD:hover{
    color: brown;
    background-color: blanchedalmond;
    cursor: pointer;
}
// toaster styles

.toaster {
    width: 300px;
    height: 50px;
    float: right;
    background-color:blanchedalmond;
    color: brown;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  .message {
    display: flex;
    justify-content: center;
    font-size: 16px;
    font-weight: bold;
  }